In [1]:
import pandas as pd

In [2]:
ACC = pd.read_csv("ACC 3.csv")

In [3]:
len(ACC)

3373

In [4]:
label = []
for i in range(len(ACC)):
    if i<563:
        label.append("Walking")
    elif i<1125:
        label.append("Jogging")
    elif i<1687:
        label.append("Upstairs")
    elif i<2250:
        label.append("Downstairs")
    elif i<2813:
        label.append("Sitting")
    else:
        label.append("Standing")

In [5]:
ACC["Label"] = label

In [6]:
df = ACC

In [7]:
df

             x         y         z           time     Label
0    -0.030991 -0.079529 -0.999161  1669505391964   Walking
1    -0.027954 -0.081085 -0.995300  1669505392064   Walking
2    -0.027161 -0.078690 -0.975204  1669505392163   Walking
3    -0.025330 -0.077438 -0.997559  1669505392267   Walking
4    -0.028198 -0.081253 -0.996780  1669505392367   Walking
...        ...       ...       ...            ...       ...
3368 -0.074142 -0.479630 -0.990356  1669506026079  Standing
3369 -0.099014 -0.519104 -0.901215  1669506026179  Standing
3370 -0.145294 -0.384933 -0.794464  1669506026280  Standing
3371 -0.110672 -0.458038 -0.847488  1669506026380  Standing
3372 -0.211548 -0.453842 -0.737381  1669506026481  Standing

[3373 rows x 5 columns]